[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide { display: none !important; }
/* ::::: https://account.weimob.com/build/css/style-1b2004b23d.css ::::: */

audio, canvas, html, sub, sup, video { padding: 0px; border: 0px none; outline: 0px none; background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px; }
html { font-family: sans-serif; vertical-align: baseline; }
abbr, address, article, aside, b, blockquote, body, cite, code, dd, del, details, dfn, div, dl, dt, em, figcaption, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, i, iframe, ins, kbd, label, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, summary, time, var { margin: 0px; padding: 0px; border: 0px none; outline: 0px none; vertical-align: baseline; background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px; }
img, li, ul { outline: 0px none; background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px; }
img { padding: 0px; }
html, img, legend { margin: 0px; }
audio:not([controls]) { display: none; height: 0px; }
a { background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px; text-decoration: none; }
a:active, a:hover { outline: 0px none; }
img { border: 0px none; vertical-align: middle; }
img:not([src*="/"]) { display: none; }
svg:not(:root) { overflow: hidden; }
a, button, input, textarea {  }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
body { font-family: "Microsoft YaHei","微软雅黑",Arial,sans-serif; color: rgb(51, 51, 51); }
.f-fl, .nav-r li { float: left; }
.g-tac { text-align: center; }
.g-mb30 { margin-bottom: 30px; }
.bg-wrap, body, html { height: 100%; }
.header-wrap { position: absolute; width: 100%; top: 0px; height: 50px; z-index: 9; }
.logo-l { margin-top: 7px; margin-left: 40px; }
:-moz-placeholder, *::-moz-placeholder { color: rgb(187, 187, 187); }
@media screen and (max-width: 375px) {
}
@media screen and (max-width: 320px) {
}
.protocol-header { width: 100%; height: 50px; }
.protocol-header .header-wrap { box-shadow: 0px 2px 10px 0px rgba(15, 12, 70, 0.1); }
.protocol-bg { min-height: 100%; background-color: rgb(245, 245, 248); padding: 20px 30px 42px; }
.protocol-cont { background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(89, 89, 97); letter-spacing: 0px; line-height: 26px; padding-bottom: 45px; text-align: justify; font-family: PingFangSC-Regular; }
.protocol-cont .title { font-size: 30px; color: rgb(25, 25, 25); padding-top: 60px; margin-bottom: 40px; }
.protocol-cont .main { width: 1000px; margin: 0px auto; }
.protocol-cont .tt { font-size: 18px; color: rgb(89, 89, 97); letter-spacing: 0px; line-height: 26px; margin-bottom: 30px; font-weight: 700; }
.protocol-cont .nowrap { white-space: nowrap; }
/* ::::: https://statistic.weimobdc.com/wm.css?StatType=e&c=MoFwhiAqCeAOCmBeAzmMzYQBYDIQEsBbeZcQ2RARgFYAWAJgHZHbL7qAGATg5wFcATgBtEWECFjIApAGYAglPoAxRUrABjdQHs+AOxAA6AO7wiWgEYHthVbAFaQW7UINjCQ-mEQBZLQC98ISEwVWoDDkUOAAoAdXxdABMtI2l6DgA5SEjKDnDZACFIuN0ANloCyIAPMoq0gQA3WTlqEvCASkiAcXh1AGstVTScjhzKSKV8AXgAMy1K0NbeKen4ASmBRHSHAH1gPlhYLQEQeAScdWQdAXUkHEIAK3V42cQ8AQ14Oy1CB3wtXXwCVe6j4gKodCYLDYtC4lEoJV49VE1AAtFwuCiAOY4TCY+DALDJcEMZisegwuEIlE0ElQ9jcDi5AAcHCZTMoMnJtEYrJa7JwYAOBKJNMhZIp8I41IhpLYnB4uVo3DZ1B4sPoJVJTKAA ::::: */

