body, ol, ul, h1, h2, h3, h4, h5, h6, p, dt, dd { margin: 0px; padding: 0px; }
body { min-width: 1200px; font: 14px/1.8 "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","黑体",Arial,sans-serif; background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(51, 51, 51); }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 400; }
a { color: rgb(26, 173, 25); text-decoration: none; }
a:hover { text-decoration: underline; }
i, em { font-style: normal; }
li { list-style: outside none none; }
img { border: 0px none; vertical-align: middle; }
.hide { display: none !important; }
:-moz-placeholder { color: rgb(170, 170, 170); font-size: 12px; }
*::-moz-placeholder { color: rgb(170, 170, 170); font-size: 12px; }
.ico-msg, .arr, .login-form label, .login-common .cbx, .cms-notice h2, .cms-notice .ico-new, .ico-refresh, .platform .ico, .accordion .ico, .applyment .ico, .dialog-hd .ico-cls { background: rgba(0, 0, 0, 0) url('../images/sprite.png') no-repeat scroll 0% 0%; overflow: hidden; }
.clr::after { content: "."; clear: both; display: block; height: 0px; visibility: hidden; }
.clr {  }
.vs { display: inline-block; width: 1px; height: 12px; background: rgb(80, 80, 80) none repeat scroll 0% 0%; overflow: hidden; opacity: 0.54; vertical-align: middle; margin: -2px 16px 0px; border-radius: 1px; }
.wrap { width: 1120px; margin: 0px auto; }
.big-title { margin-bottom: 57px; font-size: 28px; line-height: 1.4; font-weight: 700; }
.underline { text-align: center; position: relative; }
.underline::after { content: ""; position: absolute; width: 44px; height: 4px; bottom: -19px; left: 50%; margin-left: -22px; background: rgb(26, 173, 25) none repeat scroll 0% 0%; border-radius: 1px; }
.btn-primary { display: inline-block; min-width: 60px; height: 30px; line-height: 30px; padding: 0px 22px; text-align: center; background: rgb(68, 181, 73) none repeat scroll 0% 0%; color: rgb(255, 255, 255) !important; font-size: 14px; border-radius: 3px; }
.btn-primary:hover { text-decoration: none; background: rgb(47, 152, 51) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
.ico-msg { width: 46px; height: 46px; vertical-align: middle; display: inline-block; }
.ico-msg.succ { background-position: 0px -251px; }
.ico-msg.warn { background-position: -50px -251px; }
.ico-msg.info { background-position: -100px -251px; }
.page-msg .inner { padding-top: 20px; padding-bottom: 20px; }
.page-msg .msg-ico { float: left; margin-top: -1px; }
.page-msg .msg-cnt { min-height: 56px; margin-left: 56px; }
.page-msg .msg-cnt p { color: rgb(141, 141, 141); word-break: break-all; }
.page-msg.align-center { text-align: center; }
.page-msg.align-center .inner { min-width: 220px; display: inline-block; vertical-align: middle; text-align: left; }
.page-msg.icon-center { text-align: center; }
.page-msg.icon-center .msg-cnt { margin-left: 0px; }
.page-msg.icon-center .msg-cnt h4 { margin: 20px 0px 3px; }
.page-msg.icon-center .msg-ico { float: none; margin: 0px; }
.page-msg.align-center { text-align: center; }
.page-msg.align-center .inner { min-width: 220px; display: inline-block; vertical-align: middle; text-align: left; }
.dialog { width: 700px; margin-top: -200px; margin-left: -350px; position: fixed; top: 50%; left: 50%; z-index: 9999; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.dialog-hd { position: relative; padding: 0px 20px; line-height: 52px; height: 52px; background: rgb(244, 245, 249) none repeat scroll 0% 0%; }
.dialog-hd h3 { font-size: 100%; font-weight: 400; }
.dialog-hd .ico-cls { position: absolute; top: 50%; margin-top: -8px; right: 20px; width: 15px; height: 15px; line-height: 999em; overflow: hidden; background-position: -158px -191px; }
.dialog-hd .ico-cls:hover { background-position: -175px -191px; }
.dialog-bd { padding: 60px 45px; max-height: 400px; overflow-x: hidden; overflow-y: auto; position: relative; }
.dialog-ft { margin: 0px; padding: 16px 0px; text-align: center; border-top: 1px solid transparent; background: rgb(244, 245, 249) none repeat scroll 0% 0%; }
.dialog-ft .btn { margin: 0px 8px; }
.mask-layer { width: 100%; height: 100%; position: fixed; top: 0px; right: 0px; bottom: 0px; left: 0px; z-index: 9998; background: rgb(0, 0, 0) none repeat scroll 0% 0%; opacity: 0.5; }
.sitebar { height: 35px; line-height: 35px; background: rgb(44, 44, 44) none repeat scroll 0% 0%; }
.sitebar a { color: rgb(157, 157, 157); }
.sitebar .selected { color: rgb(26, 173, 25); }
.header { border-bottom: 1px solid rgb(234, 234, 234); }
.header .wrap { height: 73px; }
.header .logo { float: left; width: 138px; height: 52px; margin-top: 15px; overflow: hidden; text-indent: -999px; background: url('../images/logo.png') no-repeat scroll 0% 0%, rgba(0, 0, 0, 0) none repeat scroll 0% 0%; }
.header .link { float: right; }
.header .link a { display: inline-block; line-height: 30px; padding: 0px 5px; margin: 17px 20px 0px; color: rgb(51, 51, 51); vertical-align: middle; border-bottom: 3px solid rgb(255, 255, 255); }
.header .link a:hover { color: rgb(27, 182, 27); text-decoration: none; }
.header .link a.selected { color: rgb(27, 182, 27); border-color: rgb(26, 173, 25); }
.header .link .btn-apply { display: inline-block; height: 38px; line-height: 38px; padding: 0px 25px; margin-right: 0px; border: medium none; }
.footer-v3 { margin-top: 120px; color: rgb(157, 157, 157); background: rgb(64, 67, 67) none repeat scroll 0% 0%; }
.footer-v3 a { color: rgb(157, 157, 157); }
.footer-v3 a:hover { color: rgb(26, 173, 25); text-decoration: none; }
.footer-v3 .wrap { padding: 43px 0px 23px; }
.footer-v3 .service { overflow: hidden; }
.footer-v3 .service dl { float: left; padding-left: 43px; margin-left: 43px; min-height: 155px; height: auto !important; }
.footer-v3 .service dt { color: rgb(255, 255, 255); margin-bottom: 20px; }
.footer-v3 .service dd { margin-top: 7px; }
.footer-v3 .service .about { padding-left: 0px; margin-left: 0px; border-left: medium none; }
.footer-v3 .service .qrcode { float: right; }
.footer-v3 .service .qrcode dt { font-size: 10px; margin-bottom: 10px; }
.footer-v3 .service .qrcode .img-qrcode { width: 130px; height: 130px; }
.footer-v3 .copyright { margin-top: 43px; text-align: center; font-size: 12px; }
.banner { position: relative; height: 508px; }
.login { float: right; width: 290px; min-height: 305px; height: auto !important; padding: 25px 33px 33px; margin-top: 45px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; font-size: 12px; position: relative; z-index: 99; border-radius: 5px; box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1); }
.login .title { margin: 0px 0px 28px; font-size: 18px; font-weight: 400; text-align: center; }
.login .tips-info { padding-top: 4px; color: rgb(153, 153, 153); }
.login .tips-error { padding-top: 4px; color: rgb(244, 105, 42); }
.login .login-service { margin-top: 17px; font-size: 13px; text-align: center; }
.login .login-service .vs { background: rgb(204, 204, 204) none repeat scroll 0% 0%; }
.login-common .tips-error, .login-common .tips-info { margin: -10px 0px 10px; font-size: 12px; line-height: 1.4; }
.login-common .login-form { margin-top: 6px; }
.login-common input { width: 100%; padding: 11px 0px; border: 0px none; outline: 0px none; font-family: "Microsoft YaHei"; font-size: 14px; }
.login-common .login-account, .login-common .login-password { height: 44px; line-height: 44px; padding-left: 32px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(238, 238, 238); border-radius: 1px; }
.login-common .ico-account, .login-common .ico-password { width: 20px; height: 20px; overflow: hidden; line-height: 999px; float: left; margin: 12px 0px 0px -24px; position: absolute; }
.login-common .ico-account { background-position: -236px -160px; }
.login-common .ico-password { background-position: -256px -160px; }
.login-common .cbx { width: 16px; height: 16px; display: inline-block; margin: -3px 6px 0px 0px; vertical-align: middle; cursor: pointer; overflow: hidden; background-position: -276px -160px; }
.login-common .login-password { margin-top: 6px; }
.login-common .login-verify { margin-top: 6px; overflow: hidden; }
.login-common .login-verify a, .login-common .login-memory a { color: rgb(51, 51, 51); }
.login-common .login-verify a:hover, .login-common .login-memory a:hover { color: rgb(26, 173, 25); text-decoration: none; }
.login-common .verify-input { float: left; width: 100px; padding: 0px 10px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(238, 238, 238); border-radius: 1px; }
.login-common .verify-input input { padding: 9px 0px 10px; }
.login-common .verify-image { float: left; width: 100px; height: 40px; margin: 0px 6px; }
.login-common .verify-change { float: right; margin-top: 11px; }
.login-common .login-memory { margin-top: 6px; overflow: hidden; }
.login-common .memory-account { float: left; }
.login-common .forget-password { float: right; }
.login-common .btn-login { margin-top: 14px; height: 50px; line-height: 50px; font-size: 16px; display: block; }
.login-weixin { text-align: center; margin-bottom: 30px; }
.login-weixin a { color: rgb(69, 154, 233); }
.login-weixin .qrcode-img { width: 190px; height: 190px; margin: 0px auto; position: relative; }
.login-weixin .qrcode-img img, .login-weixin .qrcode-img canvas { width: 190px; height: 190px; vertical-align: top; }
.login-weixin .qrcode-img .alt { position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; color: rgb(255, 255, 255); cursor: pointer; }
.login-weixin .qrcode-img .alt .mask { position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; opacity: 0.7; background: rgb(0, 0, 0) none repeat scroll 0% 0%; }
.login-weixin .qrcode-img .alt .void { height: 52px; position: absolute; top: 50%; right: 0px; left: 0px; margin-top: -26px; z-index: 11; }
.login-weixin .qrcode-img .alt .void .ico-refresh { width: 26px; height: 23px; margin: 0px auto 10px; display: block; background-position: -294px -186px; }
.login-weixin .page-msg { font-size: 14px; margin-top: 20px; }
.slider { width: 100%; height: 508px; overflow: hidden; position: absolute; top: 0px; left: 0px; }
.slider a { display: block; width: 100%; height: 508px; text-indent: -9999px; }
.slider ul li { position: absolute; top: 0px; width: 100%; height: 100%; background-position: center center; background-repeat: no-repeat; background-color: rgb(232, 232, 232); }
.slider ol { position: absolute; z-index: 9; top: 397px; display: table; left: 50%; margin-left: -73px; padding: 16px 16px 16px 0px; }
.slider ol li { float: left; width: 10px; height: 10px; margin-left: 16px; text-indent: -9999px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-radius: 5px; overflow: hidden; }
.slider ol li.active { width: 56px; opacity: 0.6; }
.notice { line-height: 50px; position: absolute; right: 0px; left: 0px; bottom: 0px; z-index: 11; font-size: 12px; }
.notice .wrap { position: relative; z-index: 2; }
.notice .mask { position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; opacity: 0.53; background: rgb(0, 0, 0) none repeat scroll 0% 0%; z-index: 1; }
.notice:hover .mask { opacity: 0.8; }
.notice a { color: rgb(255, 255, 255); display: inline-block; cursor: pointer; }
.notice a:hover { color: rgb(26, 173, 25); }
.notice h2 { float: left; width: 20px; height: 20px; line-height: 999px; margin: 16px 17px 0px 0px; background-position: -214px -161px; }
.notice li { float: left; width: 285px; margin-right: 60px; }
.notice li span { display: inline-block; vertical-align: top; }
.notice li .name { max-width: 240px; white-space: nowrap; overflow-x: hidden; text-overflow: ellipsis; margin-left: 5px; }
.notice .more { position: absolute; top: 0px; right: 0px; }
.notice .more a:hover { text-decoration: none; }
.notice .more .arr { display: inline-block; width: 7px; height: 12px; margin-left: 7px; vertical-align: middle; line-height: 999px; overflow: hidden; background-position: -177px -160px; }
.notice .more a:hover .arr { background-position: -186px -160px; }
.platform { margin-top: 74px; }
.platform .wrap { position: relative; }
.platform li { float: left; width: 17%; margin-right: 38px; }
.platform li a { display: block; height: 316px; padding: 0px 32px; text-align: center; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 2px solid rgb(255, 255, 255); transition: transform 0.25s ease 0s; border-radius: 5px; box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1); }
.platform li a:hover { border-color: rgb(26, 173, 25); color: rgb(26, 173, 25); text-decoration: none; }
.platform .last { margin-right: 0px; }
.platform .ico { display: block; width: 80px; height: 80px; }
.platform .ability .ico { background-position: 0px 0px; }
.platform .ability:hover .ico { background-position: 0px -80px; }
.platform .operate .ico { background-position: -80px 0px; }
.platform .operate:hover .ico { background-position: -80px -80px; }
.platform .capital .ico { background-position: -160px 0px; }
.platform .capital:hover .ico { background-position: -160px -80px; }
.platform .safety .ico { background-position: -240px 0px; }
.platform .safety:hover .ico { background-position: -240px -80px; }
.platform .ctr { width: 80px; height: 80px; padding: 20px; margin: 34px auto 0px; background: rgb(250, 250, 250) none repeat scroll 0% 0%; border-radius: 50%; }
.platform .tit { margin-top: 14px; font-size: 18px; color: rgb(51, 51, 51); line-height: 1.4; font-weight: 700; }
.platform .tit::after { width: 34px; bottom: -15px; margin-left: -17px; background: rgb(244, 244, 244) none repeat scroll 0% 0%; }
.platform .txt { color: rgb(153, 153, 153); font-size: 12px; margin-top: 29px; line-height: 20px; }
.platform .more { position: absolute; top: 8px; right: 0px; font-size: 12px; }
.platform .more a { color: rgb(51, 51, 51); }
.platform .more a:hover { color: rgb(26, 173, 25); text-decoration: none; }
.platform .more .arr { display: inline-block; width: 7px; height: 12px; margin-left: 7px; vertical-align: middle; line-height: 999px; overflow: hidden; background-position: -177px -173px; }
.platform .more a:hover .arr { color: rgb(26, 173, 25); background-position: -186px -173px; }
.solution { margin-top: 74px; }
.accordion { height: 536px; margin: 50px auto; color: rgb(255, 255, 255); position: relative; }
.accordion li { width: 190px; height: 536px; position: relative; overflow: hidden; float: left; }
.accordion li.last { position: absolute; right: 0px; bottom: 0px; }
.accordion .link-area { position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; z-index: 9; }
.accordion .text-mask { position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; opacity: 0.5; background: rgb(0, 0, 0) none repeat scroll 0% 0%; z-index: 1; }
.accordion .text-area { position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 190px; overflow: hidden; z-index: 2; }
.accordion .text-area .ico { display: block; width: 35px; height: 35px; margin: 365px auto 0px; }
.accordion .text-area .ico-ecommerce { background-position: 0px -214px; }
.accordion .text-area .ico-supermarket { background-position: -37px -214px; }
.accordion .text-area .ico-school { background-position: -74px -214px; }
.accordion .text-area .ico-parking { background-position: -111px -214px; }
.accordion .text-area .tit { margin-top: 12px; font-size: 18px; text-align: center; position: relative; }
.accordion .text-area .tit::after { width: 36px; bottom: -18px; margin-left: -18px; background: rgb(184, 184, 183) none repeat scroll 0% 0%; }
.accordion .text-area .txt { height: 120px; overflow: hidden; margin-top: 31px; line-height: 1.8; }
.accordion .text-area .opt { height: 50px; line-height: 50px; margin-top: 31px; text-align: center; font-size: 16px; border: 1px solid rgb(255, 255, 255); border-radius: 5px; }
.accordion .text-area .txt, .accordion .text-area .opt { display: none; }
.accordion .selected .text-area, .accordion .selected .text-mask { width: 270px; padding: 60px; top: 41px; right: 41px; bottom: 41px; left: auto; }
.accordion .selected .text-area .ico { margin-top: 0px; }
.accordion .selected .text-area .tit { font-size: 28px; font-weight: 700; }
.accordion .selected .text-area .txt, .accordion li.selected .text-area .opt { display: block; }
.accordion .selected .text-mask { opacity: 0.4; border-radius: 5px; }
.applyment { margin-top: 74px; }
.applyment li { float: left; width: 185px; height: 180px; padding: 22px 26px; margin-right: 155px; position: relative; border: 1px solid rgb(238, 238, 238); border-radius: 5px; }
.applyment li.last { margin-right: 0px; }
.applyment .wrap { width: 1027px; }
.applyment .flow-sheet { overflow: hidden; }
.applyment .flow-sheet ol { width: 120%; }
.applyment .flow-sheet li { float: left; width: 185px; height: 175px; padding: 22px 26px; margin-right: 155px; position: relative; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(238, 238, 238); border-radius: 5px; }
.applyment .flow-sheet .arr { width: 18px; height: 30px; position: absolute; right: -86px; top: 50%; margin: -10px 0px 0px; background-position: -158px -160px; }
.applyment .flow-sheet .num { font-size: 60px; font-family: Arial; font-weight: bold; line-height: 1; }
.applyment .flow-sheet .tit { font-size: 18px; margin-top: 10px; font-weight: 700; }
.applyment .flow-sheet .txt { font-size: 12px; color: rgb(153, 153, 153); line-height: 1.8; margin-top: 10px; }
.applyment .flow-sheet .ico { width: 52px; height: 52px; position: absolute; top: 26px; right: 22px; }
.applyment .flow-sheet .ico-datum { background-position: 0px -160px; }
.applyment .flow-sheet .ico-audit { background-position: -52px -160px; }
.applyment .flow-sheet .ico-agree { background-position: -104px -160px; }
.applyment .flow-opt { margin-top: 38px; text-align: center; }
.applyment .flow-opt .btn-apply { display: inline-block; padding: 0px; width: 310px; height: 50px; line-height: 50px; font-size: 16px; }
.pendant { display: none !important; }












.frm_checkbox { position: absolute; left: -999em; }
.frm_checkbox_label { display: inline-block; text-align: left; cursor: pointer; margin-right: 1em; }
.icon_checkbox { margin-right: 4px; }
.icon_checkbox { margin-right: 3px; margin-top: -2px; }
.icon_checkbox { background: rgba(0, 0, 0, 0) url('../images/base_z413fd5.png') no-repeat scroll 0px -240px; width: 16px; height: 16px; vertical-align: middle; display: inline-block; }
.tool_area {  }
.tool_area::after { content: "​"; display: block; height: 0px; clear: both; }
.tool_area { padding: 0px 30px; }


