

html { font-family: sans-serif; }
body { margin: 0px; }
a { background-color: transparent; }
a:active, a:hover { outline: 0px none; }
img { border: 0px none; }
input { margin: 0px; font: inherit; color: inherit; }
input::-moz-focus-inner { padding: 0px; border: 0px none; }
input { line-height: normal; }
input[type="radio"] { box-sizing: border-box; padding: 0px; }
@font-face {
	font-family: "Glyphicons Halflings";
	src: url('glyphicons-halflings-regular.eot') format("embedded-opentype"), url('glyphicons-halflings-regular.woff2') format("woff2"), url('glyphicons-halflings-regular.woff') format("woff"), url('glyphicons-halflings-regular.ttf') format("truetype"), url('glyphicons-halflings-regular.svg') format("svg");
}
* { box-sizing: border-box; }
*::after, *::before { box-sizing: border-box; }


input { font-family: inherit; font-size: inherit; line-height: inherit; }
a { color: rgb(51, 122, 183); text-decoration: none; }
a:focus, a:hover { color: rgb(35, 82, 124); text-decoration: underline; }
a:focus { outline: thin dotted; outline-offset: -2px; }
img { vertical-align: middle; }
ul { margin-top: 0px; margin-bottom: 10px; }
.col-xs-10, .col-xs-8, .col-xs-9 { position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px; }
.col-xs-10, .col-xs-8, .col-xs-9 { float: left; }
.col-xs-10 { width: 83.3333%; }
.col-xs-8 { width: 66.6667%; }
label { display: inline-block; max-width: 100%; margin-bottom: 5px; font-weight: 700; }
input[type="radio"] { margin: 4px 0px 0px; line-height: normal; }
input[type="radio"]:focus { outline: thin dotted; outline-offset: -2px; }
.form-group { margin-bottom: 15px; }
.form-horizontal .form-group { margin-right: -15px; margin-left: -15px; }
.clearfix::after, .clearfix::before, .form-horizontal .form-group::after, .form-horizontal .form-group::before { display: table; content: " "; }
.clearfix::after, .form-horizontal .form-group::after { clear: both; }
body { font-family: "microsoft yahei"; }
a:focus { outline: medium none; }
label { font-weight: normal; }
.ny-form {  }
.ny-form .form-group { margin-bottom: 24px; line-height: 30px; }
.ny-form .ny-control-label { float: left; }
.ny-control-label { width: 135px; padding-right: 0px; text-align: right; color: rgb(102, 102, 102); }
.ny-label-darken { color: rgb(95, 95, 95); }
.ny-form-control { display: inline-block; white-space: nowrap; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); background-image: none; outline: medium none; }
.error-reminder { display: block; line-height: 2em; }
.error-reminder, .necessary-mark { color: red; }
.ny-input-group { position: relative; }
.text-stress { color: rgb(255, 102, 0); }
.ny-btn { display: inline-block; height: 32px; line-height: 31px; background-color: rgb(255, 255, 255); border: 1px solid rgb(217, 217, 217); padding: 0px 16px; font-size: 12px; color: rgb(38, 40, 41); cursor: pointer; text-align: center; }
.ny-btn:hover, .ny-btn:focus { text-decoration: none; background-color: rgb(255, 255, 255); border-color: rgb(0, 170, 255); color: rgb(0, 170, 255); }
.ny-btn:active { background-color: rgb(214, 241, 255); border-color: rgb(0, 170, 255); }
.ny-form .ny-btn { font-size: 12px; }
.ny-tabs-container { border-bottom: 1px solid rgb(238, 238, 238); }
.ny-tab { float: left; width: 132px; height: 40px; border: 1px solid rgb(238, 238, 238); border-radius: 2px 2px 0px 0px; margin-bottom: -1px; margin-right: 10px; background-color: rgb(250, 250, 250); font-size: 14px; }
.ny-tab a { display: block; height: 100%; line-height: 39px; text-decoration: none; color: rgb(77, 77, 77); }
.ny-tab a:hover { background-color: rgb(243, 243, 243); text-decoration: none; color: inherit; }
.ny-tab--current { border-top: 3px solid rgb(0, 170, 255); border-bottom-color: rgb(255, 255, 255); line-height: 37px; }
.ny-tab--current a, .ny-tab--current a:hover { background-color: rgb(255, 255, 255); color: rgb(0, 170, 255); }
body { min-width: 1200px;  background: #F5F7F9 none repeat scroll 0% 0%; color: rgb(77, 77, 77); }
a:hover { text-decoration: underline; color: rgb(0, 137, 217); }
ul { margin: 0px; padding: 0px; }
li { list-style: outside none none; }
i { font-style: normal; color: rgb(153, 153, 153); }
.ny-main { min-width: 1000px; font-size: 12px; padding-left: 160px; }
.ny-panel { padding: 0px 40px; background-color: rgb(255, 255, 255); }
.ny-panel-heading {  }
.ny-panel-title { display: inline-block; margin: 0px; height: 40px; line-height: 40px; font-size: 22px; color: rgb(39, 40, 41); }
.ny-panel-body { padding: 0px; }
.margin-bottom-10 { margin-bottom: 10px ! important; }
.margin-bottom-20 { margin-bottom: 20px ! important; }
.ny-tabs-container-new { border-bottom: medium none; }
.ny-tabs-container-new ul { margin-bottom: 25px; background-color: rgb(240, 243, 245); border-bottom: 1px solid rgb(225, 228, 230); }
.ny-tabs-container-new .ny-tab { margin-right: 0px; border-right: medium none; border-left: medium none; color: rgb(38, 40, 41); background-color: transparent; text-align: center; }
.ny-tabs-container-new .ny-tab--current { border-right: 1px solid rgb(225, 228, 230); border-left: 1px solid rgb(225, 228, 230); }
.balance-int { font-weight: bold; font-size: 16px; }
.form-group.payment-amount { margin-bottom: 30px; }
.payment-type { line-height: 42px; }
.payment-tier { margin-bottom: 15px; }
.payment-item { float: left; width: 150px; margin-bottom: 6px; line-height: 1; }
.payment-item label { position: relative; }
.payment-item input { height: 42px; margin: 0px; }
.payment-item input[type="radio"] { outline: medium none; }
.payment-item label { margin: 0px; }
.payment-choose { float: left; display: inline-block; width: 200px; height: 200px; margin-left: -16px; border: 1px solid rgb(238, 238, 238); background: transparent none no-repeat scroll 0% 0%; cursor: pointer; }
.payment-choose1 { float: left; display: inline-block; width: 132px; height: 42px; margin-left: -16px; border: 1px solid rgb(238, 238, 238); }
.payment-choose:hover { border-color: rgb(0, 170, 255); }
.payment-weixin { background: transparent url('../images/pay_weixin.png') no-repeat scroll center center; }
.payment-boc { background-position: 13px -515px; }
input[type="radio"] { opacity: 0; }
.pay-select > span { border-color: rgb(0, 170, 255); }
.pay-select i { position: absolute; bottom: 0px; right: 0px; width: 20px; height: 20px; background: transparent url('../images/pay-select-icon.png') no-repeat scroll right bottom; }
.b2b-label-container { margin-left: -16px ! important; }
.b2b-label-container .payment-choose { width: 200px; margin-left: 0px; }
.b2b-payment-boc { background-position: 8px -515px; }
