
html { font-family: sans-serif; }
body { margin: 0px; }
a { background-color: transparent; }
a:active, a:hover { outline: 0px none; }
button, input, select { margin: 0px; font: inherit; color: inherit; }
button { overflow: visible; }
button, select { text-transform: none; }
button, input[type="submit"] { cursor: pointer; }
button::-moz-focus-inner, input::-moz-focus-inner { padding: 0px; border: 0px none; }
input { line-height: normal; }
table {border-bottom: 1px solid #d5d5d5;  border-collapse: collapse;  }
td, th { padding: 0px; }
@font-face {
	font-family: "Glyphicons Halflings";
	src: url('glyphicons-halflings-regular.eot') format("embedded-opentype"), url('glyphicons-halflings-regular.woff2') format("woff2"), url('glyphicons-halflings-regular.woff') format("woff"), url('glyphicons-halflings-regular.ttf') format("truetype"), url('glyphicons-halflings-regular.svg') format("svg");
}
* { box-sizing: border-box; }
*::after, *::before { box-sizing: border-box; }

body { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; line-height: 1.42857; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); }
button, input, select { font-family: inherit; font-size: inherit; line-height: inherit; }
a { color: rgb(51, 122, 183); text-decoration: none; }
a:focus, a:hover { color: rgb(35, 82, 124); text-decoration: underline; }
a:focus { outline: thin dotted; outline-offset: -2px; }
.text-primary { color: rgb(51, 122, 183); }
ul { margin-top: 0px; margin-bottom: 10px; }
table { background-color: transparent; }
th { text-align: left; }
.btn-primary { color: rgb(255, 255, 255); background-color: rgb(51, 122, 183); border-color: rgb(46, 109, 164); }
.btn-primary:focus { color: rgb(255, 255, 255); background-color: rgb(40, 96, 144); border-color: rgb(18, 43, 64); }
.btn-primary:hover { color: rgb(255, 255, 255); background-color: rgb(40, 96, 144); border-color: rgb(32, 77, 116); }
.btn-primary:active { color: rgb(255, 255, 255); background-color: rgb(40, 96, 144); border-color: rgb(32, 77, 116); }
.btn-primary:active:focus, .btn-primary:active:hover { color: rgb(255, 255, 255); background-color: rgb(32, 77, 116); border-color: rgb(18, 43, 64); }
.btn-primary:active { background-image: none; }
.dropdown-toggle:focus { outline: 0px none; }
.btn-group { position: relative; display: inline-block; vertical-align: middle; }
.btn-group .dropdown-toggle:active { outline: 0px none; }
.clearfix::after, .clearfix::before { display: table; content: " "; }
.clearfix::after { clear: both; }
.pull-right { float: right ! important; }
.pull-left { float: left ! important; }
.hide { display: none ! important; }


.btn-primary:active { box-shadow: none; }
.btn-group { overflow: hidden; }
body { font-family: "microsoft yahei"; }
a { color: rgb(0, 170, 255); }
a:hover, a:focus { color: rgb(0, 111, 188); text-decoration: none; }
a:focus { outline: medium none; }
.ny-input-reset { display: inline-block; height: 32px; padding-top: 0px; padding-left: 10px; padding-bottom: 0px; border: 1px solid rgb(217, 220, 222); line-height: inherit; outline: medium none; }
.ny-input-reset, .ny-input-reset:active, .ny-input-reset:focus, .ny-input-reset:active:focus { outline: medium none; box-shadow: none; color: inherit; }
.ny-input-reset:focus { border-color: rgb(0, 170, 255); }
.text-primary, .text-primary:hover, .text-primary:active, .text-primary:focus { color: rgb(0, 170, 255); }
.text-stress { color: rgb(255, 102, 0); }
.ny-btn { display: inline-block; height: 32px; line-height: 31px; background-color: rgb(255, 255, 255); border: 1px solid rgb(217, 217, 217); padding: 0px 16px; font-size: 12px; color: rgb(38, 40, 41); cursor: pointer; text-align: center; }
.ny-btn:hover, .ny-btn:focus { text-decoration: none; background-color: rgb(255, 255, 255); border-color: rgb(0, 170, 255); color: rgb(0, 170, 255); }
.ny-btn:active { background-color: rgb(214, 241, 255); border-color: rgb(0, 170, 255); }
.btn-group { vertical-align: bottom; }
.btn-select-muted:active .ny-caret, .btn-select-muted:active:focus .ny-caret { content: ""; border-top: 0px none; border-bottom: 5px dashed; }
.btn-primary { position: relative; height: 32px; padding: 0px 16px; background-color: rgb(0, 170, 255); border: 1px solid rgb(0, 156, 237); line-height: 31px; color: rgb(255, 255, 255); }
.btn-primary:hover, .btn-primary:focus { text-decoration: none; border-color: rgb(15, 175, 255); background-color: rgb(38, 183, 255); color: rgb(255, 255, 255); outline: medium none; }
.ny-search-group { margin-left: 8px; }
.btn-select-muted { position: relative; padding-left: 16px; padding-right: 25px; min-width: 90px; height: 32px; background-color: rgb(255, 255, 255); border-width: 1px medium 1px 1px; border-style: solid none solid solid; border-color: rgb(214, 214, 214) -moz-use-text-color rgb(214, 214, 214) rgb(214, 214, 214); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; color: rgb(38, 40, 41); font-size: 12px; line-height: 31px; text-align: left; }
.ny-search-group .btn-select-muted::after { position: absolute; top: 8px; right: 0px; content: ""; width: 1px; height: 16px; background-color: rgb(212, 215, 217); }
.btn-select-muted:hover, .btn-select-muted:active, .btn-select-muted:focus, .btn-select-muted:active:focus { color: rgb(0, 170, 255); text-decoration: none; background-color: rgb(255, 255, 255); box-shadow: none; border-color: rgb(214, 214, 214); }
.ny-search-group .btn-select-muted:hover, .ny-search-group .btn-select-muted:active, .ny-search-group .btn-select-muted:active:focus { border-width: 1px medium 1px 1px; border-style: solid none solid solid; border-color: rgb(204, 204, 204) -moz-use-text-color rgb(204, 204, 204) rgb(204, 204, 204); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.btn-select-muted .ny-caret { position: absolute; top: 50%; right: 10%; margin-top: -2px; }
.search-group-input-wrapper { position: relative; }
.search-group-input-wrapper::before { display: block; content: " "; position: absolute; right: 0px; top: 50%; margin-top: -8px; height: 16px; width: 1px; background: rgb(214, 214, 214) none repeat scroll 0% 0%; }
.input-clear-icon { display: none; position: absolute; right: 0px; top: 0px; width: 32px; height: 32px; background: transparent url('../images/search_clear.png') no-repeat scroll center center; cursor: pointer; }
.input-clear-icon:hover { background: transparent url('../images/search_clear_active.png') no-repeat scroll center center; }
.search-group-input { padding-right: 32px; width: 190px; height: 32px; line-height: 30px; border-right: medium none rgb(214, 214, 214); border-left: medium none rgb(214, 214, 214); border-color: rgb(214, 214, 214); }
.search-group-input:focus { z-index: 10; border-color: rgb(214, 214, 214); }
.btn-primary-search { background: rgb(255, 255, 255) url('../images/btn_icon_search.png') no-repeat scroll center center    ! important; border-width: 1px 1px 1px medium ! important; border-style: solid solid solid none ! important; border-color: rgb(204, 204, 204) rgb(204, 204, 204) rgb(204, 204, 204) -moz-use-text-color ! important; -moz-border-top-colors: none ! important; -moz-border-right-colors: none ! important; -moz-border-bottom-colors: none ! important; -moz-border-left-colors: none ! important; border-image: none ! important; filter: none; border-bottom: 1px solid #d6d6d6;border-top: 1px solid #d6d6d6;border-right: 1px solid #d6d6d6;}
.btn-primary-search:hover { background: rgb(255, 255, 255) url('../images/btn_icon_search_active.png') no-repeat scroll center center    ! important;border-bottom: 1px solid #d6d6d6;border-top: 1px solid #d6d6d6;border-right: 1px solid #d6d6d6; }
.ny-table { width: 100%; line-height: 39px; table-layout: fixed; }
.ny-table thead { background-color: rgb(247, 249, 250); font-size: 12px; font-weight: normal; }
.ny-table th { position: relative; color: rgb(99, 101, 102); font-weight: 700; }
.ny-table th > div { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.ny-table tr { border-width: 1px medium; border-style: solid none; border-color: rgb(238, 238, 238) -moz-use-text-color; }
.ny-table thead tr { border-top: 1px solid rgb(229, 229, 229); border-bottom: 1px solid rgb(229, 229, 229); }
.ny-table th, .ny-table td { padding-left: 16px; padding-right: 6px; }
.ny-table td { line-height: 24px; padding-top: 5px; padding-bottom: 5px; font-size: 12px; color: rgb(38, 40, 41); }
.ny-table tbody tr:hover { background-color: rgb(237, 247, 252); }
@media screen and (max-width: 1200px) {
	.ny-table th, .ny-table td { padding-left: 7px; }
}
.th-sortable { cursor: pointer; }
.ny-caret { display: inline-block; width: 0px; height: 0px; margin-left: 2px; vertical-align: middle; border-top: 5px dashed; border-right: 5px solid transparent; border-left: 5px solid transparent; }


body { min-width: 1200px; padding-top: 56px; padding-left: 168px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(77, 77, 77); font-size: 14px; }
a { text-decoration: none; color: rgb(0, 170, 255); }
a:hover { text-decoration: underline; color: rgb(0, 137, 217); }
ul { margin: 0px; padding: 0px; }
li { list-style: outside none none; }
.ny-main { min-width: 1000px; font-size: 12px;  }
.ny-panel { padding: 24px 40px; background-color: rgb(255, 255, 255); }
.ny-panel-heading {  }
.ny-panel-title { display: inline-block; margin: 0px; height: 40px; line-height: 40px; font-size: 22px; color: rgb(39, 40, 41); }
.ny-panel-body { padding: 20px 0px; }
.margin-bottom-20 { margin-bottom: 20px ! important; }
.margin-left-24 { margin-left: 24px ! important; }
.default-transition-children-fast > * { transition-duration: 0.3s; transition-timing-function: ease; transition-property: visibility, height, background-color, background-position, color, border-color, opacity, z-index, transform, box-shadow, bottom; }
.default-transition-children-fast > * { transition-duration: 0.2s; }
.list-settings-container button { position: relative; float: left; display: block; width: 32px; height: 32px; margin-left: 8px; border: 1px solid rgb(221, 221, 221); outline: medium none; }
button.settings-reload { background: transparent url('../images/reload-icon.png') no-repeat scroll center center; }
button.settings-reload:hover, button.settings-reload:active { border-color: rgb(0, 170, 255); background: rgb(235, 248, 255) url('../images/reload-icon-hover.png') no-repeat scroll center center; }
.btn-group-page { margin: 0px 8px; height: 28px; line-height: 28px; width: 40px; text-align: center; font-size: 12px; color: rgb(102, 102, 102); border: 1px solid transparent; outline: medium none; }
.btn-group-page:hover { border-color: rgb(221, 221, 221); }
.table-space { margin-top: -20px; margin-bottom: 20px; border-bottom: 1px solid rgb(238, 238, 238); }
.has-sort-list { cursor: pointer; -moz-user-select: none; }

.alert-warn-lg .tip-title::after { position: absolute; bottom: -1px; left: 0px; content: ""; width: 80px; height: 2px; background: rgb(255, 102, 0) none repeat scroll 0% 0%; }
.pager-count { margin-left: 16px; line-height: 28px; color: rgb(153, 153, 153); }
.pager-count select { font-size: 12px; -moz-appearance: none; background: transparent url('../images/sort-select-icon.png') no-repeat scroll 24px center; padding-left: 5px; text-align: left; }
.page-button { float: left; min-width: 28px; height: 28px; border: 1px solid rgb(214, 214, 214); margin-left: -1px; background: rgb(255, 255, 255) none no-repeat scroll center center; line-height: 27px; text-align: center; cursor: pointer; }
.page-button:hover, .page--current { border-color: rgb(0, 170, 255); background-color: rgb(0, 170, 255); color: rgb(255, 255, 255); }
.page-button.disabled, .page-button.disabled:hover { border-color: rgb(222, 222, 222); background-color: rgb(255, 255, 255); color: rgb(221, 221, 221); cursor: not-allowed; }
.pager-first { background-image: url('../images/pager_first.png'); }
.pager-first:hover { background-image: url('../images/pager_first_hover.png'); }
.pager-first.disabled, .pager-first.disabled:hover { background-image: url('../images/pager_first_disabled.png'); }
.pager-prev { background-image: url('../images/pager_prev.png'); }
.pager-prev:hover { background-image: url('../images/pager_prev_hover.png'); }
.pager-prev.disabled, .pager-prev.disabled:hover { background-image: url('../images/pager_prev_disabled.png'); }
.pager-next { background-image: url('../images/pager_next.png'); }
.pager-next:hover { background-image: url('../images/pager_next_hover.png'); }
.pager-next.disabled, .pager-next.disabled:hover { background-image: url('../images/pager_next_disabled.png'); }
.pager-last { background-image: url('../images/pager_last.png'); }
.pager-last:hover { background-image: url('../images/pager_last_hover.png'); }
.pager-last.disabled, .pager-last.disabled:hover { background-image: url('../images/pager_last_disabled.png'); }















.ny-nonedata-wrapper { display: inline-block; background-position: left center ! important; text-align: left; }
.ny-nonedata-text { font-size: 12px; color: rgb(99, 101, 102); padding-left: 22px; background: transparent url('../images/tip_icon_info_16.png') no-repeat scroll left center; }



html { font-family: sans-serif; }
body { margin: 0px; }
@font-face {
	font-family: "Glyphicons Halflings";
	src: url('glyphicons-halflings-regular.eot') format("embedded-opentype"), url('glyphicons-halflings-regular.woff2') format("woff2"), url('glyphicons-halflings-regular.woff') format("woff"), url('glyphicons-halflings-regular.ttf') format("truetype"), url('glyphicons-halflings-regular.svg') format("svg");
}
* { box-sizing: border-box; }
*::after, *::before { box-sizing: border-box; }

body { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; line-height: 1.42857; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); }
ul { margin-top: 0px; margin-bottom: 10px; }
.clearfix::after, .clearfix::before { display: table; content: " "; }
.clearfix::after { clear: both; }

body { font-family: "microsoft yahei"; }
.text-stress { color: rgb(255, 102, 0); }


ul { margin: 0px; padding: 0px; }
li { list-style: outside none none; }
.ny-panel-list { line-height: 2.5; padding: 10px; }

.alert-warn-lg {  }
.alert-warn-lg .tip-title { position: relative; border-bottom: 1px solid rgb(238, 238, 238); padding-bottom: 10px; padding-left: 10px; margin-bottom: 10px; font-weight: bold; color: rgb(255, 102, 0); font-size: 14px; }
.alert-warn-lg .tip-title::after { position: absolute; bottom: -1px; left: 0px; content: ""; width: 80px; height: 2px; background: rgb(255, 102, 0) none repeat scroll 0% 0%; }


body { min-width: 1200px; padding-top: 0px; padding-left: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(77, 77, 77); }
a { text-decoration: none; color: rgb(0, 170, 255); }
a:hover { text-decoration: underline; color: rgb(0, 137, 217); }
ul { margin: 0px; padding: 0px; }
li { list-style: outside none none; }
.ny-panel-body { padding: 20px 0px; }
.margin-bottom-10 { margin-bottom: 10px ! important; }
.margin-bottom-20 { margin-bottom: 20px ! important; }


.open-cps-outer { border-bottom: 1px solid rgb(238, 238, 238); padding-left: 70px; padding-bottom: 56px; background: transparent url('../images/cps_not_opened_bg.png') no-repeat scroll left top; }
.open-cps-title { font-size: 20px; color: rgb(39, 40, 41); font-weight: bold; }
.open-cps-subtitle { font-size: 12px; color: rgb(99, 101, 102); }

.ny-state-icon { padding-left: 25px; background: transparent none no-repeat scroll left center; }
.state-icon-done { background-image: url('../images/state_icon_success.png'); }